* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #555;
}

.table-container {
    display: block;
    width: 320px;
    margin: 12% auto;
}

@media only screen and(max-width: 768px) {
    .table-container {
        width: 100%;
    }
}

.table-container .caption {
    width: 100%;
    padding-bottom: 10px;
}

.table-container .caption >* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.table-container .caption h1 {
    font-size: 24px;
}

.table-container .caption p {
    font-size: 10px;
}

.table, 
.table tbody {
   width: 100%;
}

.table, td {
    border: 1px solid #555;
    border-collapse: collapse;
}

tr {
    width: 100%;
}

td, th {
    width: 33.3%;
}

.btn{
    display: block;
    width: 100%;
    height: 100px;
    font-size: 40px;
    border: none;
    cursor: pointer;
}